{% extends 'hospital/index.html' %}
{% block content %}

<div class="card" style="margin-left:100px; min-height:500px;" >
                  <div class="card-body">
                    <center><br><br>
                      <h2 class="card-title">VIEW BOOKING DETAILS</h2>
                    </center><br><br>
                      <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                              <th><h4>No.</h4></th>
                              <th><h4>USER NAME</h4></th>
                              <th><h4>MEDICINE NAME</h4></th>
                              <th><h4>BOOKING DATE</h4></th>
                              <th><h4>TIME</h4></th>
                              <th><h4>SLOT</h4></th>
                          </tr>
                        </thead>
                        {% for i in data %}
                        <tbody>
                          <tr>
                              <td><h5>{{ forloop.counter }}</h5></td>
                              <td><h5>{{i.6}}</h5></td>
                              <td><h5>{{i.7}}</h5></td>
                              <td><h5>{{i.2}}</h5></td>
                              <td><h5>{{i.5}}</h5></td>
                              <td><h5>{{i.3}}</h5></td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
</div>

{% endblock %}